body {
	margin: 0;
	padding: 0;	
}
.header {
	width: 100%;
	height: 84px;
	position: fixed;
	z-index: 100;
	background: #FFFFFF;
	background-size: 100% auto;
	display: inline-block;
}
#header {
	width: 308px;
	height: 84px;
	background: url("images/logo.jpg");
	margin: 0 100px;
	padding: 5% 0 0 0;
}
.icon-address, .icon-phone {
	width: auto;
	height: 25px;
	margin: 4% 0 0 20%;
}
.text-address {
	width: auto;
	height: 25px;
	margin:-9% 0 0 40%;
	padding: 0;
}
.text-phone {
	width: auto;
	height: 25px;
	margin: 2% 0 0 10%;
	padding: 0;
}
	
.text-address {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.text-phone {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.line {
	border: 1px solid #000000;
	transform: rotate(90deg);
}	
.menu {
	background-size: 100% auto;
	width: 100%;
	text-align: center;
	background-color:#181717;
	height: 50px;
}
.wrapper {
	top: 96px;
	width: auto;
	height: 100%;
	background: url(../images/3.jpg) no-repeat;
	background-size: 100% auto;
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 40px;
	/* identical to box height 
	align-items: center;*/
	color: #FFFBFB;
	text-decoration-line: underline;
	margin: 0 100px;
}
.flex-child-1 {
		width: 74px;
		height: 22px;
		left: 10%;	
	}
	.flex-child-2 {
		
		width: 74px;
		height: 22px;
		left: 20%;
	}
	.flex-child-3 {
		
		width: 74px;
		height: 22px;
		left: 30%;
	}
	.flex-child-4 {
	
		width: 74px;
		height: 22px;
		left: 40%;
	}
	.flex-child-5 {
		width: 74px;
		height: 22px;
		left: 50%;
	}
	.flex-child-6 {
		left: 55%;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 8px;
		/* identical to box height*/ 
		color: #FFFBFB;
		text-decoration-line: underline;
	}
.btn {
	box-sizing: border-box;
	width: 188px;
	height: 24px;
	left: 1076px;
	border: 2px solid #DF2B2B;
	border-radius: 30px;
	margin-top: 10px;
}
.btn:hover {
	color: #a50022;
}
.menu ul li{
	list-style: none;
}
.menu a{
	text-decoration: underline;
	color: #FFFFFF;
}
.menu a:hover {
	text-decoration: underline;
	color: #a50022;
}
.text_1 {
	padding: 15% 0 0 10%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 3vw;
	line-height: 64px;
	color: #FFF8F8;
}
.text_2 {
	padding: 0 0 0 10%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 2.5vw;
	line-height: 52px;
	color: #D31F22;
}
.menu1 {
	padding: 2% 0 0 12%;
	display: flex;
	flex-direction: row;
	gap: 25%;
	text-align: center;
}
.menu1 a:hover {
	text-decoration: none;
	color: #a50022;
}
.menu2 {
	display: flex;
	flex-direction: row;
	gap: 19%;
	padding: 1% 0 0 10%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #FFF9F9;
	text-align: center;
}
.info {
	width: 70%;
	margin: 0 auto;
}
.info1 {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}
.info2 {
	width: 95%;
	margin: 0 auto;
}
.btn1 {
	margin: 2% 0 0 10%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #FFF7F7;
	width: 240px;
	height: 40px;
	background: #D31F22;
	border-radius: 30px;
	text-align: center;
}
.btn1:hover {
	cursor: pointer;
	background-color: #8B0000;
	color: #000000;
}
.wait {
	background-color: #FFFFFF;
	width: 100%;
	height: 1000px;
}
.h1 {
	margin: 2% 0 0 45%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	color: #0F0E0E;
}
.text_3 {
	margin: 5% 0 0 17%;
	font-family: 'Inter';
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.image {
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin: -390px 0 0 760px;
}
.image1 {
	width: 300px;
	height: 400px;
	object-fit: contain;
	margin: 0 0 0 150px;
}
.text_4 {
	margin: 0 0 0 80px;
	font-family: 'Inter';
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}
.span {
	padding: 0;
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 800;
	font-size: 92px;
	line-height: 147px;
	color: #D31F22;
}
.text_5 {
	padding: 0;
	font-family: 'Atma';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 39px;
	color: #000000;
}
.black {
	background-color: #000000;
	width: 100%;
	height: 1000px;
}
.h3 {
	margin: 0 0 0 35%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	color: #FFF7F7;
}
.image3 {
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin: 0 0 0 50px;
}
.image2 {
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin: 25px 0 0 0;
}
.text_6 {
	margin: 150px 0 0 170px;
	font-family: 'Inter';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFF8F8;
}
.text_7 {
	margin: 150px 0 0 140px;
	font-family: 'Inter';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFF8F8;
}
.map {
	margin: -15% 0 0 65%;
}
.h4 {
	margin: 10% 0 0 17%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	color: #0F0E0E;
}
textarea {
	width: 100%;
	resize: none;
}
.content {
	text-align: center;
}
button {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	color: #fff;
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: 0;
}

button:focus {
	outline: none !important;
}
inpot, textarea {
	color: #494949;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
	margin: 0 0 10px;
	padding: 5px;
	width: 100%;
	line-height: 1.5;
}
input:focus {
	border-color: #808080;
	outline: none;
}
textarea:focus {
	border-color: #808080;
	outline: none;
}
.blue_btn {
	background-color: #a50022;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}
.overlay_popup {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
}				
.popup {
	display: none;
	position: relative;
	z-index: 1000;
	margin: -4500px 25% 0 35%;
	width: 50%;
}
.object {
	width: 500px;
	height: 500 px;
	background-color: #eee;
	padding: 50px 70px;
}
		
		
		
		
		
		
	